In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Datasets/flavors_of_cocoa.csv')

In [5]:
df.head()

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
0,1,A. Morin,Agua Grande,2016.0,63%,France,3.75
1,2,A. Morin,Kpime,2015.0,70%,France,2.75
2,3,A. Morin,Atsane,2015.0,70%,France,3.00
3,4,A. Morin,Akata,2015.0,70%,France,3.50
4,5,A. Morin,Quilla,2015.0,70%,France,3.50

In [6]:
df.isnull().sum()

Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   float64
 4   Cocoa Percent     1795 non-null   object
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 98.3+ KB

In [12]:
df['Rating'].describe()

count    1795.000000
mean        3.185933
std         0.478062
min         1.000000
25%         2.875000
50%         3.250000
75%         3.500000
max         5.000000
Name: Rating, dtype: float64

In [13]:
type(np.nan)

float

In [14]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr[::2])

[1 3 5]

In [16]:
type(df.loc[:,['Company']])

pandas.core.frame.DataFrame